* {
  box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

/* 

@media(min-width: 992px)  {}
@media(min-width: 768px) and (max-width: 991px) {}
@media(min-width: 480px) and (max-width: 767px) {}
@media (max-width: 479px) {}
*/



/* 992px i więcej */



@media(min-width: 992px) {

body {
  margin: 0;
  color: #000;
  font-family: Cinzel, serif;
  position: relative; 
}

.container {
  width: 90%;
  margin: 0 auto; 
  display: flex;
  align-items: center;
}

/* NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  position: relative;
 }

.navbar ul li {
    list-style-type: none;
    height: 40px;
    padding: 0 15px;
    margin: 0 25px;
    font-size: 25px;
    display: inline-block;
}
.navbar ul li:hover {
      cursor: pointer; 
}
.navbar ul li a {
    text-decoration: none;
    color: #000; 
}
.navbar ul li a:hover {
      transition: 0.4s; 
      color: #FBC520; 
}


/* HERO */

header {
  height: 100vh;
}

.logo {
    text-align: center;
    padding-bottom: 20px;
}
.logo h5 {
    padding-top: 20px
    }
.logo h1 {
    margin: 0;
    padding: 0;
}


/* SLIDER */
    
ol.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

ol.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
    
.carousel-inner {
    width: 100%;
    margin: auto;
} 

.carousel-item {
    width: 100%;
    height: auto;
}
    
.madeira-1 {
  height: 60vh;
  width: 100%;
  background: linear-gradient( rgba(100,100,100,0.2), rgba(0, 0, 0, 0.8) ), url(https://images.pexels.com/photos/1712523/pexels-photo-1712523.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500), linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); 
  background-position: 60% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

    
.madeira-2 {
  height: 60vh;
  width: 100%;
  background: linear-gradient( rgba(200, 200, 200, 0.4), rgba(0, 0, 0, 0.9) ), url(https://images.pexels.com/photos/265856/pexels-photo-265856.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: 55% 45%;
  background-size: cover;
  background-repeat: no-repeat;

}


.madeira-3 {
  height: 60vh;
  width: 100%;
  background: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.8) ), url(https://images.unsplash.com/photo-1536502829567-baf877a670b5?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption h5 {
    font-size: 40px;
    width: 30%;
}

    
    
/* SKLEP */

.pracownia,
.sklep {
    height: 100vh;
}
.sklep-txt,
.pracownia-txt {
    width: 70%;
    height: auto;
    font-size: 1em;
    text-align: justify;
}
.pracownia-txt {
    padding: 0 0 0 5em;
}    
.sklep-txt {
    padding: 0 5em 0 0;    
}
.sklep-txt p:last-child,
.pracownia-txt p:last-child {
    font-family: Raleway, serif;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 500;
}
.sklep-txt h1,
.pracownia-txt h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 0;
    padding-top: 0;
}


.pracownia-txt p:nth-child(3),
.sklep-txt p:nth-child(3) {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 1.1em;
    text-transform: uppercase;
}



/* SKLEP */

.sklep-foto {
    width: 30%; 
    max-width: inherit;
    height: 90vh;
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/V6XSRDWN2G.jpg);
    background-position: 63% 50%;
    background-size: cover;
    transform: scaleX(-1);
}

/* PRACOWNIA */

.pracownia-foto {
    width: 30%;
    height: 80vh;
    background-image: url(https://images.pexels.com/photos/94843/pexels-photo-94843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ZAPRASZAMY */

.zapraszamy {
  height: 72vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/248077/pexels-photo-248077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* KONTAKT */
    
.kontakt {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map {
    display: flex;
    justify-content: center;
    align-items: center;
}
.overmap,
.godziny p {
    padding: 0 4em;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
}

/* FOOTER */

.footer {
    height: 8vh;
}
.footer-footer {
    margin: 0;
}

.footer-footer p {
    color: #000;
    text-align: center;
    line-height: 8vh;
    margin: 0;
}

}








/* 768px ---------------------------------------------------------------- 991px */


@media(min-width: 768px) and (max-width: 991px) {
    
body {
  margin: 0;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;    
  font-family: Cinzel, serif;
  position: relative; 
}

.container {
  width: 90%;
  margin: 0 auto; 
  display: flex;
  align-items: center;
}

/* NAVBAR */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
 }

.navbar ul li {
    list-style-type: none;
    padding: 15px;
    margin: 0 25px;
    font-size: 22px;
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: #000; 
}


/* HERO */

header {
  height: 100vh;
}

.logo {
    text-align: center;
    padding-bottom: 20px;
}

.logo h1 {
    margin: 0;
}

.logo h5 {
    padding-top: 20px
    }

.container-hero {
  height: 70vh;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  background: url(https://cdn.stocksnap.io/img-thumbs/960w/UYXUME7MJV.jpg);
  background-size: cover;
  background-position: center;
}

.container-hero p {
    font-size: 22px;
    padding: 0 185px;
    text-align: center;
    line-height: 2em;
    font-weight: 500;
    color: #fff;
}

    
    /* SLIDER */
    
ol.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

ol.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
    
.carousel-inner {
    width: 100%;
    margin: auto;
} 

.carousel-item {
    width: 100%;
    height: auto;
}
    
.madeira-1 {
  height: 50vh;
  width: 100%;
  background: linear-gradient( rgba(100,100,100,0.2), rgba(0, 0, 0, 0.8) ), url(https://images.pexels.com/photos/1712523/pexels-photo-1712523.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500), linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); 
  background-position: 60% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

    
.madeira-2 {
  height: 50vh;
  width: 100%;
  background: linear-gradient( rgba(200, 200, 200, 0.4), rgba(0, 0, 0, 0.9) ), url(https://images.pexels.com/photos/265856/pexels-photo-265856.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: 55% 45%;
  background-size: cover;
  background-repeat: no-repeat;

}


.madeira-3 {
  height: 50vh;
  width: 100%;
  background: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.8) ), url(https://images.unsplash.com/photo-1536502829567-baf877a670b5?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption h5 {
    font-size: 30px;
    width: 30%;
}

    
    
    
    
/* SKLEP */

.pracownia,
.sklep {
   height: 100vh;
}

.sklep-txt h1,
.pracownia-txt h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
}

.sklep-txt,
.pracownia-txt {
    width: 70%;
    height: auto;
    padding: 0 2em;
    text-align: justify;
    font-size: 1em;
}
.pracownia-txt p:nth-child(3),
.sklep-txt p:nth-child(3) {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.sklep-txt p:last-child,
.pracownia-txt p:last-child {
    font-family: Raleway, serif;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 500;
}
    
/* SKLEP */

.sklep-foto {
    width: 30%; 
    max-width: inherit;
    height: auto;
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/V6XSRDWN2G.jpg);
    background-position: 63% 50%;
    background-size: cover;
    transform: scaleX(-1);
}

/* PRACOWNIA */

.pracownia-foto {
    width: 30%;
    height: auto;
    background-image: url(https://images.pexels.com/photos/94843/pexels-photo-94843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ZAPRASZAMY */

.zapraszamy {
  height: 50vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/248077/pexels-photo-248077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* KONTAKT */
.kontakt {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map {
    display: flex;
    justify-content: center;
    align-items: center;
}
.overmap,
.godziny p {
    padding: 0 2em;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
}

/* FOOTER */

.footer {
    height: 8vh;
}
.footer-footer {
    margin: 0;
}

.footer-footer p {
    color: #000;
    text-align: center;
    line-height: 8vh;
    margin: 0;
}
    
    
    
}








/* 480px ----------------------------------------- 767px */


@media(min-width: 480px) and (max-width: 767px) {
    
    
body {
  margin: 0;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;    
  font-family: Cinzel, serif;
  position: relative; 
}

.container {
  width: 100%;
  margin: 0 auto; 
  display: flex;
  align-items: center;
}

/* NAVBAR */

nav {
 height: auto;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;
 }
.navbar ul {
    padding: 0;
}
.navbar ul li {
    list-style-type: none;
    padding: 5px; 
    font-size: 1.3em;
    text-align: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
}



/* HERO */

header {
  height: auto;
  width: 100%;
}

.logo {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.logo h1 {
    margin: 0;
}
.logo h5 {
    padding-top: 20px
    }
.container-hero {
  height: auto;
  margin: 0; 
  text-align: center;
  background: url(https://cdn.stocksnap.io/img-thumbs/960w/UYXUME7MJV.jpg);
  background-size: cover;
  background-position: center;
}

.container-hero p {
    font-size: 1.3em;
    padding:  85px;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #fff;
}

    
    
    /* SLIDER */
.carousel {
    margin-bottom: 20px;        
    }
    
ol.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

ol.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
    
.carousel-inner {
    width: 100%;
    margin: auto;
} 

.carousel-item {
    width: 100%;
    height: auto;
}
    
.madeira-1 {
  height: 40vh;
  width: 100%;
  background: linear-gradient( rgba(100,100,100,0.2), rgba(0, 0, 0, 0.8) ), url(https://images.pexels.com/photos/1712523/pexels-photo-1712523.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500), linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); 
  background-position: 60% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

    
.madeira-2 {
  height: 40vh;
  width: 100%;
  background: linear-gradient( rgba(200, 200, 200, 0.4), rgba(0, 0, 0, 0.9) ), url(https://images.pexels.com/photos/265856/pexels-photo-265856.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: 55% 45%;
  background-size: cover;
  background-repeat: no-repeat;

}


.madeira-3 {
  height: 40vh;
  width: 100%;
  background: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.8) ), url(https://images.unsplash.com/photo-1536502829567-baf877a670b5?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption h5 {
   font-size: 25px;
    width: 30%;
}

    
  
    
    
/* SKLEP */

.pracownia,
.sklep {
   height: auto;
}

.sklep-txt h1,
.pracownia-txt h1 {
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}

.sklep-txt,
.pracownia-txt {
    width: 100%;
    height: auto;
    padding: 0 2.2em;
    text-align: justify;
    font-size: 1em;
}
.pracownia-txt p:nth-child(3),
.sklep-txt p:nth-child(3) {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.sklep-txt p:last-child,
.pracownia-txt p:last-child {
    font-family: Raleway, serif;
    font-size: .9em;
    line-height: 1.5em;
    font-weight: 500;
}

/* SKLEP */

/* .sklep-foto {
    width: 30%; 
    max-width: inherit;
    height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1522777183857-cb4be6839fbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
    */

/* PRACOWNIA */

    /*
.pracownia-foto {
    width: 30%;
    height: 70vh;
    background-image: url(https://images.pexels.com/photos/94843/pexels-photo-94843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

    */

/* ZAPRASZAMY */

.zapraszamy {
  height: 36vh;
  width: 100%;
  padding: 20px 0;
  background-image: url(https://images.pexels.com/photos/248077/pexels-photo-248077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* KONTAKT */
.kontakt {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.map {
    
}
.overmap,
.godziny p,
iframe {
    padding: 0.6em;
    font-size: 0.9em;
    font-weight: 800;
    text-align: center;
    width: 100%;   
}
    
iframe {
    padding: 0 1.5em
    }

/* FOOTER */

.footer {
    height: 6vh;
}
.footer-footer {
    margin: 0;
}

.footer-footer p {
    color: #000;
    text-align: center;
    line-height: 6vh;
    margin: 0;
}
    
    
    
}







/* -------------------------------------------- 479px */


@media (max-width: 479px) {
    

body {
  margin: 0;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;    
  font-family: Cinzel, serif;
  position: relative; 
}

.container {
  width: 100%;
  margin: 0 auto; 
  display: flex;
  align-items: center;
}

/* NAVBAR */

nav {
 height: auto;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;
 }
.navbar ul {
    padding: 0;
}
.navbar ul li {
    list-style-type: none;
    padding: 10px; 
    font-size: 1.4em;
    text-align: center;
}

.navbar ul li a {
    text-decoration: none;
    color: #000; 
}



/* HERO */

header {
  height: auto;
  width: 100%;
}

.logo {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.logo h1 {
    margin: 0;
}
.logo h5 {
    padding-top: 20px
    }
.container-hero {
  height: auto;
  margin: 0; 
  text-align: center;
  background: url(https://cdn.stocksnap.io/img-thumbs/960w/UYXUME7MJV.jpg);
  background-size: cover;
  background-position: center;
}

.container-hero p {
    font-size: 1.3em;
    padding:  25px;
    text-align: center;
    color: #fff;
}

    
/* SLIDER */
    
ol.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

ol.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
    
.carousel-inner {
    width: 100%;
    margin: auto;
} 

.carousel-item {
    width: 100%;
    height: auto;
}
    
.madeira-1 {
  height: 30vh;
  width: 100%;
  background: linear-gradient( rgba(100,100,100,0.2), rgba(0, 0, 0, 0.8) ), url(https://images.pexels.com/photos/1712523/pexels-photo-1712523.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500), linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)); 
  background-position: 60% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}

    
.madeira-2 {
  height: 30vh;
  width: 100%;
  background: linear-gradient( rgba(200, 200, 200, 0.4), rgba(0, 0, 0, 0.9) ), url(https://images.pexels.com/photos/265856/pexels-photo-265856.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: 55% 45%;
  background-size: cover;
  background-repeat: no-repeat;

}


.madeira-3 {
  height: 30vh;
  width: 100%;
  background: linear-gradient( rgba(0,0,0,0.1), rgba(0, 0, 0, 0.8) ), url(https://images.unsplash.com/photo-1536502829567-baf877a670b5?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption h5 {
    font-size: 40px;
    width: 30%;
}

    
    
    
    
/* SKLEP */

.pracownia,
.sklep {
   height: auto;
    padding: 10% 0;
}

.sklep-txt h1,
.pracownia-txt h1 {
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
}

.sklep-txt,
.pracownia-txt {
    width: 100%;
    height: auto;
    padding: 0 2.2em;
    text-align: justify;
    font-size: 1em;
}
.pracownia-txt p:nth-child(3),
.sklep-txt p:nth-child(3) {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.sklep-txt p:last-child,
.pracownia-txt p:last-child {
    font-family: Raleway, serif;
    font-size: .9em;
    line-height: 1.5em;
    font-weight: 500;
}

/* SKLEP */

/* .sklep-foto {
    width: 30%; 
    max-width: inherit;
    height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1522777183857-cb4be6839fbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
    */

/* PRACOWNIA */

    /*
.pracownia-foto {
    width: 30%;
    height: 70vh;
    background-image: url(https://images.pexels.com/photos/94843/pexels-photo-94843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

    */

/* ZAPRASZAMY */

.zapraszamy {
  height: 30vh;
  width: 100%;
  background-image: url(https://images.pexels.com/photos/248077/pexels-photo-248077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* KONTAKT */
.kontakt {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.address {
    padding-top: 10px;
}
.overmap,
.godziny p,
iframe {
    padding: 0.6em;
    font-size: 0.9em;
    font-weight: 800;
    text-align: center;
    width: 100%;   
}
    
iframe {
    padding: 0 1.5em
    }

fas {
    padding: 0 8px;
    text-decoration: none;
    color: #000;
}

/* FOOTER */

.footer {
    height: 6vh;
}
.footer-footer {
    margin: 0;
}

.footer-footer p {
    color: #000;
    text-align: center;
    line-height: 4vh;
    margin: 0;
}
    
    
    
}
